/* This formats the buttons located on the home page and found in the Home component. */
button {
  background-color: rgb(152, 0, 0);
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  height: 25px;
  margin: 3%;
  width: 25%;
}

h2 {
  margin: 5% auto;
}
/* This format the header of the web page and used in the Home component. */
header {  

  border-bottom: 2px rgba(21, 21, 21, 0.5) solid;
  color: black;
  font-size: 20px;
  padding: 1%;
}

input {
  font-size: 15px;
}

/* This formats the labels used throughout the application. */
label {
  font-weight: 600;
  text-align: left;
}

select {
  height: 30px;
}

/* This formats the body of the web page and used in the App component. */
.App {
  background-image: url("https://www.edamam.com/web-img/014/0142fbc6cc6f51a03d504aff71df07eb.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgb(194, 202, 215);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 1000px;
  font-size: 15px;
  margin: auto;
  opacity: 100%;
  text-align: center;
}

/* This formats the Home link in the header section and found in the Home component. */
.home-page-link {
  color: black;
  font-size: 15px;
  font-weight: 600;
  margin: 0 3%;
  text-align: left;
}

/* This formats the main section of the home page and found in the Home component. */
.home-main-section {
  align-items: auto;
  display: flex;
  height: 100%;
  flex-direction: row;
  font-size: 15px;
  font-weight: 600;
  justify-content: space-evenly;
}

/* This formats the author section of the home page and found in the Home component. */
.home-author-section {
  padding: 5%;
  text-align: left;
  width: 45%;
}

/* This formats the recipe section of the home page and found in the Home component. */
.home-recipe-section {
  padding: 5%;
  text-align: left;
  width: 45%;
}

/* This formats all the divs on the home page and found in the Home component. */
.home-divs {
  background-color: rgb(194, 202, 215);
  border-radius: 2px;
  padding: 5%;
  width: 80%;
}

/* This formats the search text boxes located on the home page and found in the Home component. */
.search-box {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  float: left;
  height: 25px;
  margin: 2%;
  position: relative;
  transition: 0.3 all;
  width: 85%;
}

/* This formats the search text box when hovered and found in the Home component. */
.search-box:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.search-results {
  margin: 20% 0;
}

.new-page {
  height: 1000px;
}

.new-form {
  background-color: rgb(194, 202, 215);
  margin: 0 25% 25%;
}

.new-div {
  background-color: rgb(194, 202, 215);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% auto;
  padding: 3% 0;
  width: 60%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {

}