/* This formats the buttons located on the home page and found in the Home component. */
button {
  background-color: rgb(152, 0, 0);
  border-radius: 10px;
  color: white;
  font-size: 15px;
  height: 25px;
  margin: 5%;
  width: 25%;
}

/* This format the header of the web page and used in the Home component. */
header {
  border-bottom: 2px rgba(21, 21, 21, 0.5) solid;
  padding: 1%;
}

/* This formats the body of the web page and used in the App component. */
.App {
  background-color: rgba(246, 220, 198, 0.15);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  margin: auto;
  text-align: center;
}

/* This formats the Home link in the header section and found in the Home component. */
.home-page-link {
  margin: 0 3%;
  text-align: left;
}

/* This formats the main section of the home page and found in the Home component. */
.home-main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2%;
}

/* This formats the author section of the home page and found in the Home component. */
.home-author-section {
  border-right: 2px rgba(21, 21, 21, 0.5) solid;
  padding: 5%;
  text-align: left;
}

/* This formats the recipe section of the home page and found in the Home component. */
.home-recipe-section {
  padding: 5%;
  text-align: left;
}

/* This formats all the divs on the home page and found in the Home component. */
.home-divs {
  padding: 5%;
}

/* This formats the search text boxes located on the home page and found in the Home component. */
.search-box {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  height: 25px;
  margin: 5px 0 30px;
  position: relative;
  transition: 0.3 all;
  width: 80%;
}

/* This formats the search text box when hovered and found in the Home component. */
.search-box:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}